body{
    background-color: black;
}

.titulo{
    color: rgb(255, 255, 255);
}

.botao{
    background-color: rgb(0, 228, 228);
    color: rgb(0, 0, 0);
    font-size: large;
    text-decoration:large;
    padding:12px;
    border-radius: 80px;
}